.inputelement{
    .float-control-label{
        width: 100%;
        .form-floating{
            label{
                color: white !important;
                &:after{
                    display: none
                }
            }
        }
    }
    
}