.sign {
  .card {
    width: 50%;
    max-width: 650px;
  }
  .smaller-items {
    display: flex;
    flex-direction: row;
  }
  .login{
    font-size: 22px;
  }
  .icon{
    font-size: 30px;
  }
  .span{
    font-size: 25px;
  }
  @media screen and (max-width: 700px) {
    .card {
      width: 100%;
      max-width: 500px;
    }
    .smaller-items {
      flex-direction: column;
    }
    .login{
        font-size: 18px;
    }
    .span{
      font-size: 20px;
    }
  }
}
